//
   Created by mdiviesti on 3/3/16.

html
    head
        title= 'hi this is the title'
    body

    each week, index in cycle
        section
            h1= 'Week ' + week.week + ' - ' + week.title
            p.description= week.description
            p.set= week.set1.rounded
            p.set= week.set2.rounded
            p.set= week.set3.rounded