//
   Created by mdiviesti on 3/3/16.
html
    head
        title= 'Wendler 5-3-1 Calculator'
    block body
    h1= 'Wendler 5-3-1 Calculation'
    p.description= 'These calculations are based on 90% of the 1RM that you have entered'

    each week, index in cycle
        h2= week.title
        p.description= week.description
        table
            tr
                td Reps
                td Weight (lbs)
            tr
                td= week.set1.reps
                td= week.set1.rounded
            tr
                td= week.set2.reps
                td= week.set2.rounded
            tr
                td= week.set3.reps
                td= week.set3.rounded